<h1>Videos</h1>
<table class="full">
  <col width=220em; />
  <col width=120em; />
  <col align="right" />
  <col align="right" />
  <col width=120em; />
  <col width=80em; />
  <col width=50em; />
  <tr>
    <th>Url </th>
    <th>Title</th>
    <th>Owner</th>
    <th>Description</th>
    <th>Delivery</th>
    <th>Player</th>
    <th>-</th>
  </tr>
<% @video.each do |video| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= video.url %></td>
    <td><%= video.title %></td>
    <td><%= video.owner %></td>
    <td><%= video.description %></td>
    <td><%= video.delivery %></td>
    <td><%= video.player %></td>
    <td><%= link_to 'Play', video %></td>
  </tr>
<% end %>
</table>

