<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
   <div class="field">
    <%= f.label "delivery method" %><br />
    <%= f.select :delivery, [:baseline, :send_file, :s3_public,:s3_querystring,:s3_send_file,:url_send_file,:x_accel_redirect,:x_accel_redirect_remote_localhost,:x_accel_redirect_remote_s3] %> 
  </div>
    <div class="field">
    <%= f.label "player" %><br />
    <%= f.select :player, [:html5, :flowplayer,:jw_player,:youtube,:vimeo] %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

