<h1>Listing videos</h1>

<table border="1">
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>Owner</th>
    <th>Description</th>
    <th>Delivery</th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.url %></td>
    <td><%= video.title %></td>
    <td><%= video.owner %></td>
    <td><%= video.description %></td>
    <td><%= video.delivery %></td>
    <td><%= link_to 'Play', video %></td>
  </tr>
<% end %>
</table>

<br />

