<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @video.url %>
</p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Owner:</b>
  <%= @video.owner %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>

<%= video_tag "nano.mp4",:controls=>true,:height=>'480',:width=>'640' %>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
