<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <title>Secret Video</title>
</head>
<body>
  <div  id="header">
  <h1 > 
    <div id="overlap"> <img src="images/ts.png" height="200px"> </div> 
    Secret Video
  </h1>
</div>
  <div id="nav">
    <ul>
      <li> <%= link_to 'Home', '/' %></li>
      <li> <%= link_to 'About', '/about' %> </li>
      <li> <%= link_to 'Video', '/video' %> </li>
      <li> <%= link_to 'Stats', '/stats' %> </li>
    </ul>
  <hr>
  </div>
  <div id='reset'> </div>
  <div class='content'>
      <%= yield %>
  </div>
  <div class="push"></div>
    <div class='footer'>
      <hr>
      <p> no Copyright (nc) 2010 
        <a href="http://sv.redinger.me/">Secret Video</a>
      </p>
    </div>
    <script type='text/javascript'>
      $(document).ready(function(){
          $("img").mouseover(function() { 
            $('#overlap').fadeOut('slow', function() { });
            });
     });
</script>

  </body>
</html>


